h1 {
    font-family: 'Boogaloo';
    font-size: 30 pt;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Boogaloo';
    font-size: 18 pt;
    font-weight: bold;
    text-align: left; 
}

h3 {
    font-family: 'Boogaloo';
    font-size: 18 pt;
    font-weight: bold;
    text-align: right;
}

h4 {
    font-family: 'Boogaloo';
    font-size: 14 pt;
    font-weight: bold;
}


p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12 pt;
}

p2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12 pt;
    text-align: right;
}