* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #fcdfa8;
    color: #333;
}

/* heady and navi*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: transparent;
}

.navbar .logo a {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
    color: #000;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* images */
.hero-img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

/* intro */
.intro-text {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    line-height: 1.6;
}

/* card grid */
.card-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 40px auto;
}

.card {
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

/* Footer */
.main-footer {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: transparent;
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-top: 100px;
}